.screen {
  background-color: #ececec;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen .div {
  background-color: #ececec;
  height: 4270px;
  overflow: hidden;
  position: relative;
  width: 1728px;
}

.screen .overlap {
  height: 659px;
  left: 0;
  position: absolute;
  top: 112px;
  width: 1734px;
}

.screen .image {
  height: 522px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 1728px;
}

.screen .view {
  background-color: #3b3b3b;
  height: 145px;
  left: 0;
  position: absolute;
  top: 216px;
  width: 1732px;
}

.screen .overlap-group-wrapper {
  height: 123px;
  left: 72px;
  position: absolute;
  top: 11px;
  width: 286px;
}

.screen .overlap-group {
  background-color: #3b3b3c;
  border-radius: 35px;
  height: 123px;
  position: relative;
  width: 284px;
}

.screen .text-wrapper {
  color: #ffffff;
  font-family: "Frank Ruhl Libre", Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 25px;
  letter-spacing: 0.9px;
  line-height: 43.6px;
  position: absolute;
  top: 39px;
  width: 234px;
}

.screen .overlap-2 {
  height: 123px;
  left: 364px;
  position: absolute;
  top: 11px;
  width: 735px;
}

.screen .overlap-wrapper {
  height: 122px;
  left: 0;
  position: absolute;
  top: 0;
  width: 345px;
}

.screen .div-wrapper {
  background-color: #3b3b3c;
  border-radius: 35px;
  height: 122px;
  position: relative;
  width: 343px;
}

.screen .text-wrapper-2 {
  color: #ffffff;
  font-family: "Frank Ruhl Libre", Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 51px;
  letter-spacing: 0.9px;
  line-height: 43.6px;
  position: absolute;
  top: 39px;
  width: 224px;
}

.screen .view-2 {
  height: 123px;
  left: 335px;
  position: absolute;
  top: 0;
  width: 400px;
}

.screen .flexcontainer-wrapper {
  background-color: #3b3b3c;
  border-radius: 35px;
  height: 123px;
  width: 398px;
}

.screen .flexcontainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 61px;
  left: 48px;
  position: relative;
  top: 31px;
  width: 315px;
}

.screen .text {
  align-self: stretch;
  color: #ffffff;
  font-family: "Frank Ruhl Libre", Helvetica;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.9px;
  line-height: 30.4px;
  position: relative;
  text-align: center;
}

.screen .span {
  color: #ffffff;
  font-family: "Frank Ruhl Libre", Helvetica;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.9px;
  line-height: 30.4px;
}

.screen .view-3 {
  height: 123px;
  left: 1376px;
  position: absolute;
  top: 11px;
  width: 304px;
}

.screen .overlap-3 {
  background-color: #3b3b3c;
  border-radius: 35px;
  height: 123px;
  width: 302px;
}

.screen .flexcontainer-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 72px;
  left: 57px;
  position: relative;
  top: 25px;
  width: 203px;
}

.screen .span-wrapper {
  align-self: stretch;
  color: #ffffff;
  font-family: "Frank Ruhl Libre", Helvetica;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.9px;
  line-height: 30.4px;
  position: relative;
}

.screen .view-4 {
  height: 123px;
  left: 1107px;
  position: absolute;
  top: 11px;
  width: 259px;
}

.screen .overlap-4 {
  background-color: #3b3b3c;
  border-radius: 35px;
  height: 123px;
  width: 257px;
}

.screen .flexcontainer-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 72px;
  left: 61px;
  position: relative;
  top: 25px;
  width: 174px;
}

.screen .view-5 {
  height: 216px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1734px;
}

.screen .overlap-5 {
  height: 216px;
  position: relative;
  width: 1728px;
}

.screen .view-6 {
  background-color: #dadcde;
  height: 216px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1728px;
}

.screen .overlap-group-2 {
  height: 160px;
  left: 463px;
  position: absolute;
  top: 0;
  width: 587px;
}

.screen .element {
  height: 160px;
  left: 322px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 265px;
}

.screen .p {
  color: #363636;
  font-family: "Frank Ruhl Libre", Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0.9px;
  line-height: 40.5px;
  position: absolute;
  top: 67px;
  white-space: nowrap;
}

.screen .group {
  background-image: url(../../../static/img/clip-path-group-1.png);
  background-size: 100% 100%;
  height: 32px;
  left: 1511px;
  position: absolute;
  top: 37px;
  width: 32px;
}

.screen .element-2 {
  -webkit-text-stroke: 1px #000000;
  color: #0758f6;
  font-family: "Graduate", Helvetica;
  font-size: 34px;
  font-weight: 400;
  left: 1073px;
  letter-spacing: 6.29px;
  line-height: 43.8px;
  position: absolute;
  text-align: center;
  top: 52px;
  transform: rotate(-0.29deg);
  width: 204px;
}

.screen .view-7 {
  height: 63px;
  left: 1348px;
  position: absolute;
  top: 38px;
  width: 198px;
}

.screen .inst-knkfvnd-tg {
  color: #000000;
  font-family: "GOST Type AU-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 33.9px;
  position: absolute;
  top: 0;
  width: 135px;
}

.screen .telegram-jpeg {
  height: 30px;
  left: 163px;
  position: absolute;
  top: 34px;
  width: 33px;
}

.screen .view-8 {
  height: 195px;
  left: 72px;
  position: absolute;
  top: 0;
  width: 351px;
}

.screen .overlap-6 {
  height: 193px;
  left: -2px;
  position: relative;
  width: 349px;
}

.screen .img {
  height: 127px;
  left: 108px;
  mix-blend-mode: exclusion;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 136px;
}

.screen .text-wrapper-3 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #3c3c3c;
  background: linear-gradient(180deg, rgb(22.72, 58.35, 245.44) 0%, rgba(48.87, 118.96, 255, 0) 100%);
  background-clip: text;
  color: transparent;
  font-family: "Cormorant Garamond", Helvetica;
  font-size: 80px;
  font-weight: 700;
  left: 0;
  letter-spacing: 11.2px;
  line-height: 107.9px;
  position: absolute;
  text-fill-color: transparent;
  top: 105px;
  white-space: nowrap;
  width: 349px;
}

.screen .element-3 {
  color: #000000;
  font-family: "GOST Type AU-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 463px;
  letter-spacing: 0;
  line-height: 33.9px;
  position: absolute;
  top: 125px;
  width: 273px;
}

.screen .text-wrapper-4 {
  color: #000000;
  font-family: "GOST Type AU-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 33.9px;
}

.screen .text-wrapper-5 {
  font-family: "GOST Common-Regular", Helvetica;
}

.screen .element-4 {
  color: #000000;
  font-family: "GOST Type AU-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 1348px;
  letter-spacing: 0;
  line-height: 33.9px;
  position: absolute;
  top: 119px;
  width: 276px;
}

.screen .view-9 {
  height: 63px;
  left: 121px;
  position: absolute;
  top: 483px;
  width: 294px;
}

.screen .overlap-7 {
  background: linear-gradient(180deg, rgba(132.6, 181.56, 255, 0.93) 0%, rgba(182.31, 182.31, 182.31, 0.11) 100%);
  border: 1px solid;
  border-color: #000000;
  border-radius: 13px;
  height: 63px;
  position: relative;
  width: 292px;
}

.screen .text-wrapper-6 {
  color: #000000;
  font-family: "Frank Ruhl Libre", Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 79px;
  letter-spacing: 0.9px;
  line-height: 40.5px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
  width: 133px;
}

.screen .navbar-wrapper {
  background-color: #ffffff;
  height: 112px;
  left: 4px;
  position: absolute;
  top: 0;
  width: 1728px;
}

.screen .navbar {
  height: 40px;
  left: 96px;
  position: relative;
  top: 42px;
  width: 1542px;
}

.screen .text-wrapper-7 {
  color: #000000;
  font-family: "Footlight MT Light-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 235px;
  letter-spacing: 0.45px;
  line-height: 40.5px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 195px;
}

.screen .text-wrapper-8 {
  color: #000000;
  font-family: "Footlight MT Light-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 956px;
  letter-spacing: 0.45px;
  line-height: 40.5px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 144px;
}

.screen .text-wrapper-9 {
  color: #000000;
  font-family: "Footlight MT Light-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 768px;
  letter-spacing: 0.45px;
  line-height: 40.5px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 138px;
}

.screen .text-wrapper-10 {
  color: #000000;
  font-family: "Footlight MT Light-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 480px;
  letter-spacing: 0.45px;
  line-height: 40.5px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 238px;
}

.screen .text-wrapper-11 {
  color: #000000;
  font-family: "Footlight MT Light-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 1304px;
  letter-spacing: 0.45px;
  line-height: 40.5px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 224px;
}

.screen .text-wrapper-12 {
  color: #000000;
  font-family: "Footlight MT Light-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 1150px;
  letter-spacing: 0.45px;
  line-height: 40.5px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 104px;
}

.screen .text-wrapper-13 {
  color: #064aac;
  font-family: "Footlight MT Light-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0.45px;
  line-height: 40.5px;
  position: absolute;
  text-decoration: underline;
  top: 0;
  white-space: nowrap;
}

.screen .view-10 {
  height: 449px;
  left: 0;
  position: absolute;
  top: 3821px;
  width: 1742px;
}

.screen .overlap-8 {
  height: 449px;
  position: relative;
  width: 1734px;
}

.screen .view-11 {
  height: 449px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1734px;
}

.screen .overlap-group-3 {
  background-color: #3b3b3b;
  height: 449px;
  position: relative;
  width: 1732px;
}

.screen .element-5 {
  color: #ffffff;
  font-family: "Inria Serif", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 985px;
  letter-spacing: 0;
  line-height: 28.2px;
  position: absolute;
  top: 181px;
  width: 306px;
}

.screen .view-12 {
  height: 66px;
  left: 702px;
  position: absolute;
  top: 193px;
  width: 196px;
}

.screen .inst-knkfvnd-tg-2 {
  color: #ffffff;
  font-family: "GOST Type AU-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 33.9px;
  position: absolute;
  top: 0;
  width: 135px;
}

.screen .telegram-jpeg-2 {
  height: 28px;
  left: 161px;
  position: absolute;
  top: 38px;
  width: 33px;
}

.screen .image-2 {
  height: 1px;
  left: 98px;
  object-fit: cover;
  position: absolute;
  top: 81px;
  width: 1530px;
}

.screen .view-13 {
  height: 37px;
  left: 100px;
  position: absolute;
  top: 23px;
  width: 1542px;
}

.screen .text-wrapper-14 {
  color: #ffffff;
  font-family: "Footlight MT Light-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 235px;
  letter-spacing: 0.45px;
  line-height: 40.5px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 195px;
}

.screen .text-wrapper-15 {
  color: #ffffff;
  font-family: "Footlight MT Light-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 956px;
  letter-spacing: 0.45px;
  line-height: 40.5px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 144px;
}

.screen .text-wrapper-16 {
  color: #ffffff;
  font-family: "Footlight MT Light-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 768px;
  letter-spacing: 0.45px;
  line-height: 40.5px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 138px;
}

.screen .text-wrapper-17 {
  color: #ffffff;
  font-family: "Footlight MT Light-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 480px;
  letter-spacing: 0.45px;
  line-height: 40.5px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 238px;
}

.screen .text-wrapper-18 {
  color: #ffffff;
  font-family: "Footlight MT Light-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 1304px;
  letter-spacing: 0.45px;
  line-height: 40.5px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 224px;
}

.screen .text-wrapper-19 {
  color: #ffffff;
  font-family: "Footlight MT Light-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 1150px;
  letter-spacing: 0.45px;
  line-height: 40.5px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 104px;
}

.screen .text-wrapper-20 {
  color: #ffffff;
  font-family: "Footlight MT Light-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0.45px;
  line-height: 40.5px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 185px;
}

.screen .image-3 {
  height: 236px;
  left: 1392px;
  object-fit: cover;
  position: absolute;
  top: 111px;
  width: 250px;
}

.screen .element-6 {
  color: #ffffff;
  font-family: "Inria Serif", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 99px;
  letter-spacing: -0.12px;
  line-height: 33px;
  position: absolute;
  top: 111px;
  white-space: nowrap;
  width: 470px;
}

.screen .text-wrapper-21 {
  color: #ffffff;
  font-family: "Inria Serif", Helvetica;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: -0.12px;
  line-height: 33px;
}

.screen .text-wrapper-22 {
  font-weight: 700;
}

.screen .text-wrapper-23 {
  color: #ffffff;
  font-family: "Inria Serif", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 99px;
  letter-spacing: -0.12px;
  line-height: 22.7px;
  position: absolute;
  text-decoration: underline;
  top: 176px;
  width: 560px;
}

.screen .flexcontainer-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 47px;
  left: 702px;
  position: absolute;
  top: 274px;
  width: 174px;
}

.screen .text-2 {
  align-self: stretch;
  color: #ffffff;
  font-family: "Inria Serif", Helvetica;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: -0.12px;
  line-height: 15.5px;
  position: relative;
}

.screen .text-wrapper-24 {
  color: #ffffff;
  font-family: "Inria Serif", Helvetica;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: -0.12px;
  line-height: 15.5px;
}

.screen .text-wrapper-25 {
  text-decoration: underline;
}

.screen .element-7 {
  color: #ffffff;
  font-family: "GOST Type AU-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 703px;
  letter-spacing: 0;
  line-height: 22.6px;
  position: absolute;
  top: 134px;
  width: 168px;
}

.screen .element-8 {
  color: #ffffff;
  font-family: "Inria Serif", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 979px;
  letter-spacing: 0;
  line-height: 22.6px;
  position: absolute;
  top: 265px;
  width: 443px;
}

.screen .group-2 {
  background-image: url(../../../static/img/clip-path-group.png);
  background-size: 100% 100%;
  height: 30px;
  left: 863px;
  position: absolute;
  top: 193px;
  width: 33px;
}
